<div data-controller="link">
    <input  data-link-target="name" type="text" >
    <button data-action="click->link#shorten">
        Shorten Link
    </button>
    <div data-link-target="output"></div>
</div>
